@font-face {
  font-family: 'warnock-pro';
  src: url('https://use.typekit.net/af/8e59e2/0000000000000000000173f7/27/l?subset_id=2&fvd=i3&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/8e59e2/0000000000000000000173f7/27/d?subset_id=2&fvd=i3&v=3')
      format('woff'),
    url('https://use.typekit.net/af/8e59e2/0000000000000000000173f7/27/a?subset_id=2&fvd=i3&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  color: #000000;
  margin: 0;
  padding: 0;
  font-family: 'warnock-pro-display', serif;
  font-weight: 300;
  font-style: normal;
  position: relative;
  cursor: url('myszka.png'), auto;
}

.main {
  padding: 50px 93px;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: #f2f2f2;
  filter: blur(10px);
}

.main .intro p {
  display: none;
}

.main h1 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 300;
  margin: 0;
  width: 70%;
  animation: slide-in 0.4s forwards cubic-bezier(0.65, 0.05, 0.36, 1);
}

svg {
  position: absolute;
  top: 5%;
  right: 2%;
  z-index: 9;
  cursor: pointer;
  display: block;
}

svg:hover circle {
  stroke: #fff;
}
svg:hover path {
  fill: #fff;
}

.img-container {
    will-change: top, left;
  position: absolute;
  background: transparent;
  height: 220px;
  width: 220px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: conic-gradient(
    from 104.37deg at 59.04% 71.89%,
    rgba(239, 254, 72, 0) -112.5deg,
    #EFFE48 20.63deg,
    rgba(239, 254, 72, 0) 247.5deg,
    #EFFE48 380.62deg
  );
  border-radius: 50%;
  box-shadow: inset 0 0 20px #fff, inset 10px 0 46px #EFFE48, inset 88px 0px 60px #EFFE48,
    inset -20px -60px 100px #fff, inset 0 50px 140px #fff, 0 0 90px #fff;
}

.img-container img {
  width: 70%;
  height: 70%;
  object-fit: contain;
  filter: blur(4px);
  will-change: top, left;
}

.img-container img.blur {
  filter: blur(0);
}

@keyframes slide-in {
  0% {
    transform: translateX(-20px) translateY(-30px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@keyframes slide-in-small {
  0% {
    transform: translateX(-20px) translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}

#loading-animation {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #EFFF39;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-wrapper {
  display: none;
}

#loading-animation span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000;
  margin: 0 5px;
  animation-name: pulse-animation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

#loading-animation span:nth-of-type(1) {
  animation-delay: 0.1s;
}

#loading-animation span:nth-of-type(2) {
  animation-delay: 0.2s;
}

#loading-animation span:nth-of-type(3) {
  animation-delay: 0.3s;
}

@keyframes pulse-animation {
  0% {
    transform: scale(0.8);
    opacity: 0.7;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.7;
  }
}

@media screen and (min-width: 1278px) {
  .main {
    filter: blur(0px);
  }
  .mobile-info {
    display: none;
  }
  .main .intro p {
    display: block;
    position: absolute;
    opacity: 0;
    bottom: 0;
    font-size: 30px;
    line-height: 40px;
    font-weight: 300;
    animation: slide-in-small 0.4s forwards cubic-bezier(0.65, 0.05, 0.36, 1);
    animation-delay: 0.3s;
  }
}


